{% extends "master.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<h3>Hello, World!</h3>
	time: {{timestamp}} <br />
	url: {{link}}<br />
	<br /><br />

<div style = "margin: auto; text-align: left; width: 20%;" >
	<li /><a href = "/"	>/root</a>
	<li /><a href = "/user/Martin"	>/user/{name}</a>
	<li /><a href = "/post/343"		>/post/{id}</a>
	<li/><a href = "/path/pith"		>/path/{path}</a>
	<li/><a href = "/lister"		>/lister</a>
	<li/><a href = "/details/Mary"	>/details/{name}</a>
</div>

{% endblock %}
