{% extends "master.html" %}

{% block title %} Details {% endblock %}

{% block content %}

<style>
th { width: 100px; }
th, td { border: 1px black inset; }
</style>

<h3>Details!</h3>
{{value}}
<br />{{ moment.include_moment() }}
[ {{ moment().format('yyyy-MM-DD hh:mm:ss a') }} ]

<br /><br />
<div class="d-flex justify-content-center" >
	<table class="table w-50 table-hover table-striped" >
	<tr><th>firstname	</th><td>{{ data.firstname }}	</td></tr>
	<tr><th>lastname	</th><td>{{ data.lastname }}	</td></tr>
	<tr><th>phone		</th><td>{{ data.phone }}		</td></tr>
	<tr><th>joined_date	</th><td>{{ data.joined_date }}	</td></tr>
	</table></div>

{% endblock %}
